@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap");
/* se usan de esta manera:
font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif; */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css");

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

:root{ /* el nombre de las propiedades lo eliges tú, son variables */
    --color-principal: #fa573a;
    --color-secundario:#21242e;
    --fuentePrincipal: 'Montserrat', sans-serif;
    --fuenteSecundaria: 'Handlee', cursive;
    --anchoMaximo: 1100px;

}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1em;
}

.maincontainer {
    height: 100vh;
}

img { /* poner esta regla para las imgs siempre, para que se conviertan en elem en bloque */
    width: 80%;
    height: auto;
    display: block;
}

.container .maincontainer { /* para todos los containers */
    max-width: var(--anchoMaximo);
    margin: 0 auto;
}

/* Inicio header */

header .nav_top {
    background-color: var(--color-secundario);
    padding: 20px 10px;
}

.flex {/* iconos de vertical a horizontal del header */
    display: flex;
}

header .nav_top a {
    color: white;
    text-decoration: none;
    font-size: 120%; /* estás aumentando un 20% el tamaño de la fuente */
}

header .nav_top a span{
    display: none; /* así solo salen los iconos */

}

header .nav_top .flex {
    justify-content: space-between; /* reparte el espacio entre los elementos */
}

header .nav_top i {
    color: var(--color-principal);
}

header nav {
    padding: 20px;
}

header .logo {
    max-width: 110px;
}

header .hamburguesa {  /* para hacer el botón de las tres rayitas(hamburguesa) donde se desplegará el menú */
    width: 50px;
    cursor: pointer;
}

header .hamburguesa div{ /* haciendo las tres rayitas donde se desplegará el menú */
    border-top: 2px solid #aaa;
    margin: 10px;
}

header nav .flex{
    flex-wrap: wrap; 
    justify-content: space-between;
}

header nav ul{
    width: 100%;
}

header nav ul li a{ /* donde están los items */
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    border-bottom: 1px solid #aaa;
    color: #aaa;
    transition: 1s;
}

header nav ul li .activo{
    color: var(--color-principal);
}

header nav ul li a:hover{
    color: var(--color-principal)

}
/* Fin header */



/* Inicio footer */

footer{
    background-color: var(--color-secundario);
    padding: 1.25em 0.65em;
    text-align: center;
    /* estas tres propiedades, a continuación, hacen que el footer quede abajo */
    position: fixed;
    bottom: 0;
    width: 100%;
} 

footer p, footer a {
    color: white;
}

footer a:hover{ /* Hover es un tipo de efecto, que es el que estamos usando aquí, que hace como una entrada y salida */
    text-decoration: none;
}
/* Fin footer */

/* media query header y footer */

@media(min-width: 48.000em) /* 768px, que es donde hay el primer cambio, en tablet */ {
    header .nav_top a span{
        display: inline; 
    }


    footer { /* el texto del footer queda alineado a la izq */
        text-align: left;
    }
}

@media(min-width: 50.000em) /* 1004px, segundo cambio*/ {
    header .hamburguesa {
        display: none;
    }

    header nav ul{
        width: auto;
        display: flex;
    }

    header nav ul li a {
        padding: 5px 20px;
        border-bottom: 0px;
    }
}

/* Inicio Main */



main .first h4 {
    color: black;
    font-family: var(--fuenteSecundaria);
    font-size: 2em;
    text-align: center;
    padding: 10px;
}

main .first h4 span {
    color: var(--color-principal);
}

main .first .underline {
    position: relative;
    width: 5em;
    margin: 0 auto;
    color: var(--color-principal);
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 0.1em;
    text-align: center;
}

main .first .underline hr {
    border-color: var(--color-principal);
    position: absolute;
    width: 100%;
    top: -0.063em;
}

 .first .cont{
    flex-wrap: wrap; 
    justify-content: space-between;
}

.first .cont ul{
    width: 80%;
    margin: 0 auto;
}

.first .cont ul li a{ /* donde están los items */
    display: block;
    text-align: left;
    text-decoration: none;
    padding: 20px;
    color: black;
    transition: 1s;
}



.first .cont ul li a:hover{
    color: var(--color-secundario)

}

.dosactivo {
    display: inline-block; /* se comporta como en bloque pero apareciendo como en línea */
    background-color: var(--color-principal);
    color: white;
    padding: 1.15em;
    text-decoration: none;
    margin: 1em 0;
    border: 1px solid var(--color-principal);
}

.dosactivo:hover {
    background-color: transparent;
    color: var(--color-principal);
}

.dosactivo .boton i {
    transition: transform 0.5s;
}

.dosactivo:hover i {
    transform: translateX(5px);
    transition: 1s;
}

section {
    padding-left: 20vw;
}
section article {  
    display: block;
}

section article {
    padding: 0.4em;
}

section article h3 {
    font-size: 1.30em;
    font-family: var(--fuenteSecundaria);
    padding: 0.2em;
}

section article .precio {
    font-size: 0.9em;
    font-family: var(--fuenteSecundaria);
    padding-right: 0.2em;
    color: var(--color-principal);
    display: inline;

}

section article p {
    font-size: 0.9em;
    font-family: var(--fuentePrincipal);
    padding: 0.2em;
}



section article hr {
    width: 15%;
    margin-left: 5px;
    color: var(--color-principal);
}

.boton {
    text-decoration: none;
    margin: 0.6em 0;
    display: block;
    color: var(--color-principal);
}

section article .retirar {
    margin-top: -20px;
}
/* medias queries */

@media (max-width: 48.000em) {
    .retirar {
        visibility: hidden;
    }
}

/* media queries desktop */

@media (min-width:48.000em) {
    header .hamburguesa {
        display: none;
    }

    header nav ul{
        width: auto;
        display: flex;
    }

    header nav ul li a {
        padding: 5px 20px;
        border-bottom: 1%;
    }

    .row {
        display: flex;
    }
    .uno {
         flex:20%;
    }
    .uno p {
        text-align: justify;
    }

    .dos {
        flex: 45%;
    }

    .dos article{
        margin: 10px 10px;
        display: flex;
    }

    .dos img {
        width: 20vw;
    }
    
    section {
        padding-left: 0vw;
    }
}