@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap");
/* se usan de esta manera:
font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif; */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css");

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

:root{ /* el nombre de las propiedades lo eliges tú, son variables */
    --color-principal: #fa573a;
    --color-secundario:#21242e;
    --fuentePrincipal: 'Montserrat', sans-serif;
    --fuenteSecundaria: 'Handlee', cursive;
    --anchoMaximo: 1100px;

}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1em;
}

img { /* poner esta regla para las imgs siempre, para que se conviertan en elem en bloque */
    width: 100%;
    height: auto;
    display: block;
}

.container { /* para todos los containers */
    max-width: var(--anchoMaximo);
    margin: 0 auto;
}

/* Inicio header */

header .nav_top {
    background-color: var(--color-secundario);
    padding: 20px 10px;
}

.flex {/* iconos de vertical a horizontal del header */
    display: flex;
}

header .nav_top a {
    color: white;
    text-decoration: none;
    font-size: 120%; /* estás aumentando un 20% el tamaño de la fuente */
}

header .nav_top a span{
    display: none; /* así solo salen los iconos */

}

header .nav_top .flex {
    justify-content: space-between; /* reparte el espacio entre los elementos */
}

header .nav_top i {
    color: var(--color-principal);
}

header nav {
    padding: 20px;
}

header .logo {
    max-width: 110px;
}

header .hamburguesa {  /* para hacer el botón de las tres rayitas(hamburguesa) donde se desplegará el menú */
    width: 50px;
    cursor: pointer;
}

header .hamburguesa div{ /* haciendo las tres rayitas donde se desplegará el menú */
    border-top: 2px solid #aaa;
    margin: 10px;
}

header nav .flex{
    flex-wrap: wrap; 
    justify-content: space-between;
}

header nav ul{
    width: 100%;
}

header nav ul li a{ /* donde están los items */
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    border-bottom: 1px solid #aaa;
    color: #aaa;
    transition: 1s;
}

header nav ul li .activo{
    color: var(--color-principal);
}

header nav ul li a:hover{
    color: var(--color-principal)

}
/* Fin header */



/* Inicio footer */

footer{
    background-color: var(--color-secundario);
    padding: 1.25em 0.65em;
    text-align: center;
    /* estas tres propiedades, a continuación, hacen que el footer quede abajo */
    position: fixed;
    bottom: 0;
    width: 100%;
} 

footer p, footer a {
    color: white;
}

footer a:hover{ /* Hover es un tipo de efecto, que es el que estamos usando aquí, que hace como una entrada y salida */
    text-decoration: none;
}
/* Fin footer */

/* media query */

@media(min-width: 48.000em) /* 768px, que es donde hay el primer cambio, en tablet */ {
    header .nav_top a span{
        display: inline; 
    }


    footer { /* el texto del footer queda alineado a la izq */
        text-align: left;
    }
}

@media(min-width: 62.750em) /* 1004px, segundo cambio*/ {
    header .hamburguesa {
        display: none;
    }

    header nav ul{
        width: auto;
        display: flex;
    }

    header nav ul li a {
        padding: 5px 20px;
        border-bottom: 0px;
    }
}

/* Inicio hero */

.hero {
    background-image: url("../images/fondo.jpg");
    height: 50vh;
    background-repeat: no-repeat; /* que no te repita la imagen */
    background-size: cover; /* para que cubra el 100% del espacio la imagen */
    background-position: center center;
    background-color: #999; /* pones un color oscuro de fondo y la siguiente propiedad, y así se te oscurece la imagen */
    background-blend-mode: multiply; /* coge los colores de la img y de fondo y los multiplica, los oscurece */
    display: flex;
    align-items: center; /* es una propiedad flex, tiene que ir con la regla de display:flex; para que funcione */

}

.hero .container{
    width: 90%;
}

.hero h1 {
    font-family: var(--fuenteSecundaria);
    font-size: 2.50em;
    color: white;
}

.hero h2{
    color: var(--color-principal);
    font-size: 1.50em; 
    margin: 1em 0;
}

.hero p {
    font-size: 1.15em;
    color: white;
}

.boton {
    display: inline-block; /* se comporta como en bloque pero apareciendo como en línea */
    background-color: var(--color-principal);
    color: white;
    padding: 1.15em;
    text-decoration: none;
    margin: 1em 0;
    border: 1px solid var(--color-principal);
}

.boton:hover {
    background-color: transparent;
    color: var(--color-principal);
}

.boton i {
    transition: transform 0.5s;
}

.boton:hover i {
    transform: translateX(5px);
    transition: 1s;
}

.hero .social li {
    display: inline-block;
    font-size: 2em;
    margin-right: 1em;
}

.hero .social a {
    color: white;
    text-decoration: none;
}

/* Fin hero */


/* Inicio main */

main {
    margin-bottom: 90px;
}

main section {
    padding: 2.125em;

}

main section h2 {
    color: black;
    font-family: var(--fuenteSecundaria);
    font-size: 2em;
    text-align: center;
}

main section h2 span {
    color: var(--color-principal);
}

main section .underline {
    position: relative;
    width: 5em;
    margin: 0 auto;
    color: var(--color-principal);
    font-weight: bold;
    margin-bottom: 2em;
    text-align: center;
}

main section .underline hr {
    border-color: var(--color-principal);
    position: absolute;
    width: 100%;
    top: -0.063em;
}

main #ourservices .flex {
    flex-wrap: wrap;
    padding: 0 0.825em;
}

main #ourservices .flex article {
    width: 100%;
    padding: 1.825em 0;
    border-bottom: 1px solid #aaa;
}

main #ourservices .flex article div i {
    color: var(--color-principal);
    font-size: 2em;
    padding: 0.5em;
    border: 2px solid var(--color-principal);
}

main #ourservices .flex article div .fa-truck {  /* para rotar icono de camion */
    transform: rotateY(180deg);
} 

main #ourservices .flex article h3 {
    font-weight: 700;
    margin: 1em 0;
}

.enlace {
    text-decoration: none;
    margin: 1em 0;
    display: block;
    color: var(--color-principal);
}

/* media queries main */

@media (min-width: 48.000em) {
    main #ourservices .flex article {
        width: 50%;
        padding: 1.825em;
        border-bottom: 0px;
        border-left: 1px solid #aaa;
        margin-bottom: 1em;
    }

    main #ourservices .flex article:last-child {
        width: 100%;
    }
}

@media (min-width: 62.750em) { /* hereda lo del media query anterior, solo añades lo que haya que sobreescribir */
    main #ourservices .flex article {
        width: 33.33%;
    }

    main #ourservices .flex article:last-child {
        width: 33.33%;
}
}
