@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap");
/* se usan de esta manera:
font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif; */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css");

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

:root{ /* el nombre de las propiedades lo eliges tú, son variables */
    --color-principal: #fa573a;
    --color-secundario:#21242e;
    --fuentePrincipal: 'Montserrat', sans-serif;
    --fuenteSecundaria: 'Handlee', cursive;

}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1em;
}

img { /* poner esta regla para las imgs siempre, para que se conviertan en elem en bloque */
    width: 100%;
    height: auto;
    display: block;
}